@mixin button-style {
  @include flex;
  padding: 16px;
  
  white-space: nowrap;
  width: min-content;
  border: none;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(226, 234, 252, 1),
    rgba(204, 218, 250, 1)
  );
  box-shadow: 0px 2px 2px 0px rgba(186, 205, 247, 1);
  font-family: $noto-serif;
  font-size: 16px;
  color: $text_color;

  transition: border-radius 0.3s;

  &:active {
    background-color: #c8d6f9;
  }
  &:hover {
    border-radius: 10px;
    cursor: pointer;
  }
}

@mixin grid($columns, $rows, $gap, $margin-left: 40px) {
  display: grid;
  place-items: start;
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: repeat($rows, 1fr);
  grid-gap: $gap;
  margin-left: $margin-left;
}

@mixin flex(
  $direction: row,
  $wrap: nowrap,
  $align: center,
  $justify: center,
  $gap: 0px
) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin menu-option(
  $b-color,
  $shadow-color,
  $b-image: "",
  $b-size: 18px,
  $hover-light: 15%
) {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  box-shadow: 0px 4px 4px -2px $shadow-color;

  /* Background */
  background-color: $b-color;
  background-image: $b-image;
  background-size: $b-size;
  background-position: center;
  background-repeat: no-repeat;

  // Transition
  transition: background-color 0.25s ease-in-out;

  &:hover {
    background-color: lighten($b-color, $hover-light);
    cursor: pointer;
  }
}

@mixin background-image(
  $width: 16px,
  $height: 16px,
  $url: "",
  $repeat: no-repeat,
  $position: center,
  $size: contain
) {
  width: $width;
  height: $height;
  @if $url {
    background-image: url($url);
  }
  background-repeat: $repeat;
  background-position: $position;
  background-size: $size;
}

@mixin color-option($background-color) {
  background-color: $background-color;
}
