@mixin button-style {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin: 0 4px;
  white-space: nowrap;
  width: min-content;
  border: none;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(226, 234, 252, 1),
    rgba(204, 218, 250, 1)
  );
  box-shadow: 0px 2px 2px 0px rgba(186, 205, 247, 1);
  font-family: $font-family;
  font-size: 16px;
  color: $text_color;

  transition: border-radius 0.3s;

  &:active {
    background-color: #c8d6f9;
  }
  &:hover {
    border-radius: 10px;
    cursor: pointer;
  }
}

@mixin fade-animation {
  opacity: 1;
  transition: opacity 0.5s ease;

  &.fade {
    opacity: 0;
  }
}

@mixin grid($columns, $rows, $gap, $margin-left: 40px) {
  /* GRID */
  display: grid;
  place-items: start;
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: repeat($rows, 1fr);
  grid-gap: $gap;

  margin-left: $margin-left;
}

@mixin menu-option(
  $background-color,
  $shadow-color,
  $background-image: "",
  $background-size: 18px,
  $hover-light: 15%
) {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  box-shadow: 0px 4px 4px -2px $shadow-color;

  /* Background */
  background-color: $background-color;
  background-image: $background-image;
  background-size: $background-size;
  background-position: center;
  background-repeat: no-repeat;

  // Transition
  transition: background-color 0.25s ease-in-out;

  &:hover {
    background-color: lighten($background-color, $hover-light);
    cursor: pointer;
  }
}

@mixin color-option($background-color) {
  background-color: $background-color;
}
