@import "mixins";
@import "variables";

.button {
  @include button-style;
  div {
    height: 16px;
    width: 16px;
    &.share-icon {
        background-image: url("../../public/share.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
  }
}