.fade-in {
  animation: fade-in 500ms forwards;
}

.fade-out {
  animation: fade-out 500ms forwards;
  pointer-events: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
