@import "variables";

@font-face {
  font-family: $noto-serif;
  font-weight: 700;
  src: url("../assets/fonts/notoserif-bold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: $noto-serif;
  font-weight: 400;
  src: url("../assets/fonts/notoserif-regular-webfont.woff2") format("woff2");
}

@font-face {
  font-family: $noto-sans;
  font-weight: 700;
  src: url("../assets/fonts/notosans-bold-webfont.woff2") format("woff2");
}

@font-face {
  font-family: $noto-sans;
  font-weight: 400;
  src: url("../assets/fonts/notosans-regular-webfont.woff2") format("woff2");
}

#root {
  font-family: $noto-serif;
  color: $text_color;
  font-size: 18px;
}
