@import "variables";

header {
  position: absolute;
  top: 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  a {
    text-decoration: none;
    color: $text_color;
    img {
      padding: 24px;
      height: 24px;
    }
  }

  div {
    display: flex;
    flex-direction: column;

    padding-top: 24px;
    padding-right: 24px;
    margin-left: auto;
    p {
      font-size: 12px;
    }
    img {
      height: 24px;
      margin-left: auto;
      padding-bottom: 16px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
