@import "variables";
@import "mixins";

header {
  @include flex($justify: flex-start);
  position: absolute;
  top: 0;
  width: 100vw;
  max-width: 872px;
  
  & a {
    text-decoration: none;
    color: $text_color;
    & img {
      padding: 24px;
      height: 52px;
    }
  }

  div {
    @include flex($direction: column);
    padding-top: 24px;
    padding-right: 24px;
    margin-left: auto;
    & p {
      font-size: 12px;
    }
    & img {
      height: 24px;
      margin-left: auto;
      padding-bottom: 16px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
